<div class="container">
    <nav class="pull-left">
        <ul>
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="produk">Produk</a>
            </li>
            <li>
                <a href="blog">Blog</a>
            </li>
            <li>
                <a href="about-us">Tentang Kami</a>
            </li>
            <li>
                <a href="contact-us">Hubungi Kami</a>
            </li>
        </ul>
    </nav>
    <div class="social-btns pull-right">
        <a href="#"><div class="fui-instagram"></div><div class="fui-instagram"></div></a>
        <a href="#"><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
        <a href="#"><div class="fui-twitter"></div><div class="fui-twitter"></div></a>
    </div>
    <div class="additional-links">
        Be sure to take a look to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
    </div>
</div>
