[CategoryList]

==

<!-- list category untuk sidebar -->
{% set obCL = CategoryList.make().tree() %}
<!-- ------ -->

<nav id="layout-nav" class="navbar navbar-static-top" role="navigation">
    <div class="container">
        <div class="col-md-2">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="">Flat</a>
            </div>
        </div>
        <div class="col-md-1"><span></span></div>
        <div class="col-md-9">
            <div class="collapse navbar-collapse navbar-main-collapse text-center">
                <ul class="nav navbar-nav">

                    <li class=" ">
                        <a href="/" class="">
                            Home
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            Produk
                            <b class="caret"></b> </a>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu">
                            {% for i, obC in obCL %}
                            <li class="">
                                <a href="/product/{{ obC.slug }}" class="">
                                    {{ obC.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class=" ">
                        <a href="/blog" class="">
                            About Us
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/about-us" class="">
                            Tentang Kami
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/contact-us" class="">
                            Hubungi Kami
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>