title = "Demonstration"
url = "/"
layout = "default"
is_hidden = 0

[imagelist]

[imagekanan]

[CategoryData]

[CategoryList]

[ProductList]
sorting = "no"

[BrandList]

[blogPosts]

noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

==
{# Get CategoryItem class object #}
{# 1 - category ID #}
{% set obCategory = CategoryData.get(1) %}

<!-- untuk our product -->

{% set obProductList = ProductList.make().sort(ProductList.getSorting()).active() %}
{% if obProductList.isNotEmpty() %}
{% endif %}
<!-- ------ -->

<!-- untuk out category -->
{# Get CategoryCollection class object. Call tree() method to get category tree #}
{% set obCategoryList = CategoryList.make().tree() %}
<!-- ------ -->

<!-- untuk out brand -->
{% set obBrandList = BrandList.make().sort().active() %}
<!-- ------ -->

<!-- untuk out post -->
{% set posts = posts %}
<!-- ------ -->

{% put styles %}
    <link href="themes/responsiv-flat/assets/css/style.css" rel="stylesheet">
    <link href="themes/responsiv-flat/assets/css/animate.css" rel="stylesheet">
{% endput %}

<!-- image slider dan banner -->
<section id="sec_1">
    <div class="container">
        <div class="row" style="height: 88vh;">
            <div class="col-md-6">
            {% component 'imagelist' %}
            </div>
            <div class="col-md-6">
                {% component 'imagekanan' %}
            </div>
        </div>
    </div>
</section>

<br>

<!-- slider our product -->
<section id="sec_2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    <span>
                        Produk Kami
                    </span>
                </h3>
                <p class="text-center">
                    Kami memiliki banyak produk-produk berkualitas
                </p>
                <div class="text-center">
                    <ul class="list-inline">
                        <li class="active"><a class="btn btn-default bulat" data-toggle="pill" href="#osp">On Sale Product</a></li>
                        <li><a class="btn btn-default bulat" data-toggle="pill" href="#fp">Featured Products</a></li>
                        <li><a class="btn btn-default bulat" data-toggle="pill" href="#trp">Top Rated Products</a></li>
                    </ul>
                </div>

                <br>

                <div class="tab-content">
                    <div id="osp" class="tab-pane fade in active">
                        <div id="e-crsl" class="carousel slide crsl" data-ride="crsl" data-interval="0">
                            <!-- crsl indicators -->
                            <ol class="carousel-indicators car2" style="top: 100%">
                                <li data-target="#e-crsl" data-slide-to="0" class="active"></li>
                                <li data-target="#e-crsl" data-slide-to="1"></li>
                                <li data-target="#e-crsl" data-slide-to="2"></li>
                            </ol>
                            <!-- Wrapper for crsl items -->
                            <div class="carousel-inner">
                                {% for index, obProduct in obProductList %}
                                    {% if index == 1 or index == 5 or index == 9 or index == 13 or index == 17 or index == 21 %}
                                        <div class="item carousel-item{% if loop.first %} active{% endif %}">
                                            <div class="row">
                                    {% endif %}
                                                <div class="col-sm-3">
                                                    <div class="thumb-wrapper">
                                                        <div class="img-box">
                                                            <a href="product/{{ obProduct.category.slug }}/{{ obProduct.slug }}"><img src="{{ obProduct.preview_image.path }}" class="img-responsive img-fluid" alt=""></a>
                                                        </div>
                                                        <div class="thumb-content">
                                                            <a href="product/{{ obProduct.category.slug }}/{{ obProduct.slug }}"><h4>{{ obProduct.name }}</h4></a>
                                                            <span>{% if obProduct.price %}Rp {{ obProduct.price|number_format(0, ',', '.') }} {% else %} Hubungi Kami {% endif %}</span> <br>
                                                        </div>
                                                    </div>
                                                </div>
                                    {% if index % 4 == 0 or loop.last %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!-- crsl controls -->
                            <a class="carousel-control left crsl-prev" href="#e-crsl" data-slide="prev">
                                <i class="fa fa-arrow-left black"></i>
                            </a>
                            <a class="carousel-control right crsl-next" href="#e-crsl" data-slide="next">
                                <i class="fa fa-arrow-right black"></i>
                            </a>
                        </div>
                    </div>
                    <div id="fp" class="tab-pane fade">
                        <h3>Menu 1</h3>
                        <p>Some content in menu 1.</p>
                    </div>
                    <div id="trp" class="tab-pane fade">
                        <h3>Menu 2</h3>
                        <p>Some content in menu 2.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br>
<!-- category -->
<section id="sec_3">
    <div class="container" style="width: 100%; margin: 20px 0px">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    <span>
                        Top Categories
                    </span>
                </h3>
                <p class="text-center">
                    === lorem ipssum ====
                </p>
                <div class="text-center">
                    <a href="" class="btn btn-default bulat">View All</a>
                </div>

                <div class="row">

                </div>

                <div id="crsl2" class="carousel slide crsl" data-ride="crsl2" data-interval="0">
                    <!-- crsl indicators -->
                    {% if obCategoryList.isNotEmpty() %}
                    <ol class="carousel-indicators" style="top: 100%">
                        <!--{% for in, obCategory in obCategoryList %}-->
                            <!--{% if in % 3 == 0 %}-->
                                <!--<li data-target="#crsl2" data-slide-to="{{ in }}" class="{% if loop.first %}active{% endif %}"></li>-->
                            <!--{% endif %}-->
                        <!--{% endfor %}-->
                        <li data-target="#crsl2" data-slide-to="0" class="active"></li>
                        <li data-target="#crsl2" data-slide-to="1" class=""></li>
                    </ol>
                    {% endif %}

                    <br>

                    <div class="carousel-inner">
                        {# Let's check that the list of categories is not empty #}
                        {% if obCategoryList.isEmpty() %}
                            <h3 class="text-center" style="color: red;">Data not found</h3>
                        {% endif %}
                        {% for i, obCategory in obCategoryList %}
                            {% if loop.first or i == 4 or i == 7 or i == 10 %}
                                <div class="item carousel-item{% if loop.first %} active{% endif %}">
                                    <div class="row">
                            {% endif %}
                                        <div class="col-sm-4">
                                            <div class="thumb-wrapper-2">
                                                <a href="category/{{ obCategory.slug }}">
                                                    <img src="{{ obCategory.preview_image.path }}" alt="" class="img-boc">
                                                </a>
                                                <span class="cat-label">On Sale</span>
                                                <div class="thumb-contents">
                                                    <a href="category/{{ obCategory.slug }}"><h4>{{ obCategory.name}}</h4></a>
                                                    <p>lorem ipsum</p>
                                                </div>
                                            </div>
                                        </div>
                            {% if i % 3 == 0 or loop.last %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<br />

<!-- blog -->
<section id="sec_4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h3 class="">
                        Recent Post
                    </h3>
                    <p>In dapibus vel ante in auctor. Suspendisse nec nisi vel lorem vulputate elementum.</p>
                </div>
                <br>
                {% if posts.isNotEmpty() %}
                <div id="crsl4" class="carousel slide crsl" data-ride="crsl4" data-interval="0">
                    <!-- crsl indicators -->
                    <ol class="carousel-indicators" style="top: 100%;">
                        <li data-target="#crsl4" data-slide-to="0" class="active"></li>
                        <li data-target="#crsl4" data-slide-to="1"></li>
                        <li data-target="#crsl4" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for crsl items -->
                    <div class="carousel-inner">
                        {% for in, post in posts %}
                        {% if loop.first or in % 2 == 0 %}
                        <div class="item carousel-item{% if loop.first %} active{% endif %}">
                            <div class="row">
                                {% endif %}
                                <div class="col-sm-6">
                                    <div class="thumb-wrapper-3">
                                        <div class="img-blogs">
                                            <a href="blog/post/{{ post.slug }}"><img src="{{ post.blog_image.path }}" class="img-boc" alt="img"></a>
                                        </div>
                                        <span class="cat-label-blog">
                                            <p>{{ post.published_at|date('d') }}</p>
                                            <p style="color: orange; font-size: 10pt">{{ post.published_at|date('M') }}</p>
                                        </span>
                                        <div class="thumb-contents">
                                            <h4><a href="">{{ post.title }}</a></h4>
                                            <a href="blog/post/{{ post.slug }}" style="font-size: 12pt; color: orange;">Selengkapnya <i class="fa fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                {% if loop.last %}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!-- crsl controls -->
                    <!--<a class="carousel-control left crsl-prev" href="#crsl4" data-slide="prev">-->
                        <!--<i class="fa fa-arrow-left black"></i>-->
                    <!--</a>-->
                    <!--<a class="carousel-control right crsl-next" href="#crsl4" data-slide="next">-->
                        <!--<i class="fa fa-arrow-right black"></i>-->
                    <!--</a>-->
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<br>
<br>

<!-- slider brand -->
<section id="sec_5">
    <div class="text-center">
        <p><i class="fa fa-pen-square"></i> How‘re we doing? Give us a feedback.</p>
        <p>It’s very important to us to improve your experiences, many thanks for your contributions.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {# Let's check that the list of categories is not empty #}
                {% if obBrandList.isEmpty() %}
                <h3 class="text-center" style="color: red;">Data not found</h3>
                {% endif %}
                    <div id="crsl3" class="carousel slide crsl" data-ride="crsl3" data-interval="0">
                    <!-- crsl indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#crsl3" data-slide-to="0" class="active"></li>
                        <li data-target="#crsl3" data-slide-to="1"></li>
                    </ol>

                    <br>

                    <div class="carousel-inner">
                        {% for n, obBrand in obBrandList %}
                        {% if loop.first or n == 5 or n == 9 or n == 13 %}
                        <div class="item carousel-item{% if loop.first %} active{% endif %}">
                            <div class="row">
                        {% endif %}
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{ obBrand.preview_image.path}}" class="img-responsive img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                        {% if n % 4 == 0 or loop.last %}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!--{% if obBrandList|length > 1 %}-->
                    <!--<a class="carousel-control left crsl-prev" href="#crsl3" data-slide="prev">-->
                        <!--<i class="fa fa-arrow-left black"></i>-->
                    <!--</a>-->
                    <!--<a class="carousel-control right crsl-next" href="#crsl3" data-slide="next">-->
                        <!--<i class="fa fa-arrow-right black"></i>-->
                    <!--</a>-->
                    <!--{% endif %}-->
                </div>
            </div>
        </div>
    </div>
</section>

<br>

{% put scripts %}
<script type="text/javascript">
//    $('.carousel').carousel({
//        interval: 3000
//    });
//    $('.crsl').carousel({
//        interval: 3000
//    });
    /*
    $('.crsl .item').each(function() {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        if (next.next().length > 0) {
            next.next().children(':first-child').clone().appendTo($(this));
        }
        else {
            $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
        }
    });
    */
</script>
{% endput %}