title = "Demonstration"
url = "/"
layout = "default"
is_hidden = 0

[imagelist]

[imagekanan]

[CategoryData]

[CategoryList]

[ProductList]
sorting = "no"

[BrandList]

[blogPosts]

noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

==
{# Get CategoryItem class object #}
{# 1 - category ID #}
{% set obCategory = CategoryData.get(1) %}

<!-- untuk our product -->

{% set obProductList = ProductList.make().sort(ProductList.getSorting()).active() %}
{% if obProductList.isNotEmpty() %}
{% endif %}
<!-- ------ -->

<!-- untuk out category -->
{# Get CategoryCollection class object. Call tree() method to get category tree #}
{% set obCategoryList = CategoryList.make().tree() %}
<!-- ------ -->

<!-- untuk out brand -->
{% set obBrandList = BrandList.make().sort().active() %}
<!-- ------ -->

<!-- untuk out post -->
{% set posts = posts %}
<!-- ------ -->

{% put styles %}
    <link href="themes/responsiv-flat/assets/css/style.css" rel="stylesheet">
    <link href="themes/responsiv-flat/assets/css/animate.css" rel="stylesheet">
{% endput %}
<section >
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            {% component 'imagelist' %}
            </div>
            <div class="col-md-6">
                {% component 'imagekanan' %}
            </div>
        </div>
    </div>
</section>

<br>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    <span>
                        Our Products
                    </span>
                </h3>

                <div class="text-center">
                    <ul class="list-inline">
                        <li class="active"><a class="btn btn-default bulat" data-toggle="pill" href="#osp">On Sale Product</a></li>
                        <li><a class="btn btn-default bulat" data-toggle="pill" href="#fp">Featured Products</a></li>
                        <li><a class="btn btn-default bulat" data-toggle="pill" href="#trp">Top Rated Products</a></li>
                    </ul>
                </div>

                <br>

                <div class="tab-content">
                    <div id="osp" class="tab-pane fade in active">
                        <div id="e-crsl" class="carousel slide crsl" data-ride="crsl" data-interval="0">
                            <!-- crsl indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#e-crsl" data-slide-to="0" class="active"></li>
                                <li data-target="#e-crsl" data-slide-to="1"></li>
                                <li data-target="#e-crsl" data-slide-to="2"></li>
                            </ol>
                            <!-- Wrapper for crsl items -->
                            <div class="carousel-inner">
                                {% for index, obProduct in obProductList %}
                                {% if index == 1 or index == 5 or index == 9 %}
                                <div class="item carousel-item{% if loop.first %} active{% endif %}">
                                    <div class="row">
                                {% endif %}
                                        <div class="col-sm-3">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <a href="product/{{ obProduct.slug }}"><img src="{{ obProduct.preview_image.path }}" class="img-responsive img-fluid" alt=""></a>
                                                </div>
                                                <div class="thumb-content">
                                                    <a href="product/{{ obProduct.slug }}"><h4>{{ obProduct.name }}</h4></a>
                                                    <a href="product/{{ obProduct.slug }}" class="btn btn-primary bulat">Detail Barang</a>
                                                </div>
                                            </div>
                                        </div>
                                {% if index % 4 == 0 or loop.last %}
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <!-- crsl controls -->
                            <a class="carousel-control left crsl-prev" href="#e-crsl" data-slide="prev">
                                <i class="fa fa-arrow-left black"></i>
                            </a>
                            <a class="carousel-control right crsl-next" href="#e-crsl" data-slide="next">
                                <i class="fa fa-arrow-right black"></i>
                            </a>
                        </div>
                    </div>
                    <div id="fp" class="tab-pane fade">
                        <h3>Menu 1</h3>
                        <p>Some content in menu 1.</p>
                    </div>
                    <div id="trp" class="tab-pane fade">
                        <h3>Menu 2</h3>
                        <p>Some content in menu 2.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    <span>
                        Top Categories
                    </span>
                </h3>
                <div class="text-center">
                    <a href="" class="btn btn-default bulat">View All</a>
                </div>

                <div id="crsl2" class="carousel slide crsl" data-ride="crsl2" data-interval="0">
                    <!-- crsl indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#crsl2" data-slide-to="0" class="active"></li>
                        <li data-target="#crsl2" data-slide-to="1"></li>
                    </ol>

                    <br>

                    <div class="carousel-inner">
                        {# Let's check that the list of categories is not empty #}
                        {% if obCategoryList.isEmpty() %}
                        <h3 class="text-center" style="color: red;">Data not found</h3>
                        {% endif %}
                        {% for i, obCategory in obCategoryList %}
                        {% if loop.first or i == 4 or i == 7 or i == 10 %}
                        <div class="item carousel-item{% if loop.first %} active{% endif %}">
                            <div class="row">
                        {% endif %}
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{ obCategory.preview_image.path }}" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <a href=""><h4>{{ obCategory.name}}</h4></a>
                                            <a href="category/{{ obCategory.slug }}" class="btn btn-primary bulat">Lihat</a>
                                        </div>
                                    </div>
                                </div>
                        {% if i % 3 == 0 or loop.last %}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <a class="carousel-control left crsl-prev" href="#crsl2" data-slide="prev">
                        <i class="fa fa-arrow-left black"></i>
                    </a>
                    <a class="carousel-control right crsl-next" href="#crsl2" data-slide="next">
                        <i class="fa fa-arrow-right black"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<br>

<div class="text-center">
    <p><i class="fa fa-pen-square"></i> How‘re we doing? Give us a feedback.</p>
    <p>It’s very important to us to improve your experiences, many thanks for your contributions.</p>
</div>

<br />

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {# Let's check that the list of categories is not empty #}
                {% if obBrandList.isEmpty() %}
                <h3 class="text-center" style="color: red;">Data not found</h3>
                {% endif %}
                    <div id="crsl3" class="carousel slide crsl" data-ride="crsl3" data-interval="0">
                    <!-- crsl indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#crsl3" data-slide-to="0" class="active"></li>
                        <li data-target="#crsl3" data-slide-to="1"></li>
                    </ol>

                    <br>

                    <div class="carousel-inner">
                        {% for n, obBrand in obBrandList %}
                        {% if loop.first or n == 5 or n == 9 or n == 13 %}
                        <div class="item carousel-item{% if loop.first %} active{% endif %}">
                            <div class="row">
                        {% endif %}
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{ obBrand.preview_image.path}}" class="img-responsive img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                        {% if n % 4 == 0 or loop.last %}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <a class="carousel-control left crsl-prev" href="#crsl3" data-slide="prev">
                        <i class="fa fa-arrow-left black"></i>
                    </a>
                    <a class="carousel-control right crsl-next" href="#crsl3" data-slide="next">
                        <i class="fa fa-arrow-right black"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h3 class="">
                        Recent Post
                    </h3>
                    <p>In dapibus vel ante in auctor. Suspendisse nec nisi vel lorem vulputate elementum.</p>
                </div>
                <br>
                {% if posts.isNotEmpty() %}
                <div id="crsl4" class="carousel slide crsl" data-ride="crsl4" data-interval="0">
                    <!-- crsl indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#crsl4" data-slide-to="0" class="active"></li>
                        <li data-target="#crsl4" data-slide-to="1"></li>
                        <li data-target="#crsl4" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for crsl items -->
                    <div class="carousel-inner">
                        {% for in, post in posts %}
                        {% if loop.first   %}
                        <div class="item carousel-item{% if loop.first %} active{% endif %}">
                            <div class="row">
                        {% endif %}
                                <div class="col-sm-6">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{ post.blog_image.path }}" class="img-responsive img-fluid" alt="img">
                                        </div>
                                        <div class="thumb-content">
                                            <h4><a href="">{{ post.title }}</a></h4>
                                            <a href="blog/post/{{ post.slug }}">Read more <i class="fa fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                        {% if loop.last or in % 2 == 0 %}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!-- crsl controls -->
                    <a class="carousel-control left crsl-prev" href="#crsl4" data-slide="prev">
                        <i class="fa fa-arrow-left black"></i>
                    </a>
                    <a class="carousel-control right crsl-next" href="#crsl4" data-slide="next">
                        <i class="fa fa-arrow-right black"></i>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<br>

{% put scripts %}
<script type="text/javascript">
    $('.carousel').carousel({
        interval: 3000
    });
    $('.crsl').carousel({
        interval: 3000
    });
    /*
    $('.crsl .item').each(function() {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        if (next.next().length > 0) {
            next.next().children(':first-child').clone().appendTo($(this));
        }
        else {
            $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
        }
    });
    */
</script>
{% endput %}