title = "Item"
url = "/product/:category/:slug"
layout = "default"
is_hidden = 0

[ProductPage]
slug = "{{ :slug }}"
slug_required = 1

[CategoryPage]
slug = "{{ :category }}"
slug_required = 1

[ProductList]
slug
sorting = "new"

==

{# Get product item #}
{% set obProduct = ProductPage.get() %}

{# Get product list #}
{% set obPL = ProductList.make().sort(ProductList.getSorting()).active() %}

{% put styles %}
    <link href="{{ [
        'assets/vendor/slick/slick.css',
    ]|theme }}" rel="stylesheet">
{% endput %}
{% put scripts %}
    <script src="{{ [
        'assets/vendor/slick/slick.js',
    ]|theme }}"></script>
    <script>
        $(document).ready(function() {
            $('#shopImages').slick({
                dots: true,
                infinite: true,
                speed: 500,
                fade: true,
                cssEase: 'linear',
                slidesToShow: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                pauseOnHover: true,
                arrows: false
            });
        })
    </script>
{% endput %}

<section id="layout-title">
    <div class="container">
        <h3>{{ obProduct.name }}</h3>
    </div>
</section>

<div class="container shop-item">
    <div class="row">
        <div class="col-sm-9">

            <div class="row">
                <div class="col-sm-6">

                    <div id="shopImages" class="shop-images">
                        <div>
                            <a href="">
                                <img src="{{ obProduct.preview_image.path }}" class="img-responsive main" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <img src="{{ obProduct.preview_image.path }}" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <p class="text-muted">---------</p>
                    <div>
                        <div class="price-block">
                            <span class="price">{% if obProduct.price %}Rp {{ obProduct.price }} {% else %} Hubungi Kami {% endif %}</span>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Item Description -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="headline"><span>Product details</span></h4>
                    {{ obPL[0] }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="headline"><span>Similar products</span></h4>
                    <div class="row">
                        {% if obPL.isNotEmpty() %}
                            {% for in, obP in obPL %}
                                <div class="col-sm-4">
                                    <div class="shop-product featured">
                                        <a href="#"><img src="{{ obP.preview_image.path }}" class="img-responsive" alt=""></a>
                                        <a href="product/{{ obP.category.name }}/{{ obP.slug }}"><h6>{{ obP.name }}</h6></a>
                                        <p class="price">
                                            <span class="new">{{ obP.price }}</span>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            {% partial 'product/sidebar' %}
        </div>
    </div>
</div>