title = "Item"
url = "/product/:category/:slug"
layout = "default"
is_hidden = 0

[ProductPage]
slug = "{{ :slug }}"
slug_required = 1

[CategoryPage]
slug = "{{ :category }}"
slug_required = 1

[ProductList]
slug
sorting = "new"

[contactus]

==

{# Get product item #}
{% set obProduct = ProductPage.get() %}

{# Get product list #}
{% set obPL = ProductList.make().sort(ProductList.getSorting()).active() %}

{# Get Contact number #}
{% set data = contactus.data %}

{% put styles %}
    <link href="{{ [
        'assets/vendor/slick/slick.css',
    ]|theme }}" rel="stylesheet">

<style type="text/css">
    .brand-icon {
        width: auto;
        height: 35px;
    }
</style>
{% endput %}
{% put scripts %}
    <script src="{{ [
        'assets/vendor/slick/slick.js',
    ]|theme }}"></script>
    <script>
        $(document).ready(function() {
            $('#shopImages').slick({
                dots: true,
                infinite: true,
                speed: 500,
                fade: true,
                cssEase: 'linear',
                slidesToShow: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                pauseOnHover: true,
                arrows: false
            });
        })
    </script>
{% endput %}

<section id="layout-title">
    <div class="container">
        <h3>{{ obProduct.name }}</h3>
    </div>
</section>

<div class="container shop-item">
    <div class="row">
        <div class="col-sm-9">

            <div class="row">
                <div class="col-sm-6">

                    <div id="shopImages" class="shop-images">
                        <!--{{ obProduct.images[0].path }}-->
                        {% set img_product = obProduct.images %}
                        {% for in, img in img_product %}
                        <!--{{ img_product }}-->
                        <div>
                            <a href="">
                                <img src="{{ img.path }}" class="img-responsive{% if lopp.first %} main{% endif %}" style="width: 100%; max-height: 275px" alt="">
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="col-sm-6">

                    <p class="text-muted">---------</p>
                    <div>
                        {% if obProduct.link_shopee %}<p> <a href="https://{{ obProduct.link_shopee }}" target="_blank"><img src="/themes/responsiv-flat/assets/images/shopee-icon.png" alt="" class="brand-icon"></a></p>{% endif %}
                        {% if obProduct.link_tokped %}<p> <a href="https://{{ obProduct.link_tokped }}" target="_blank"><img src="/themes/responsiv-flat/assets/images/tokopedia-icon.png" alt="" class="brand-icon"></a></p>{% endif %}
                        {% if obProduct.link_bukalapak %}<p> <a href="https://{{ obProduct.link_bukalapak }}" target="_blank"><img src="/themes/responsiv-flat/assets/images/bukalapak-icon.png" alt="" class="brand-icon"></a></p>{% endif %}
                        {% if obProduct.pre_order == 1 %} <p>Hubungi : {{ data.phone }}</p> {% endif %}
                        <div class="price-block">
                            <span class="price">{% if obProduct.price %}Rp {{ obProduct.price|number_format(0, ',', '.') }} {% else %} Hubungi Kami {% endif %}</span>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Item Description -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="headline"><span>Product details</span></h4>
                    {{ obProduct.content }} <br>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="headline"><span>Similar products</span></h4>
                    <div class="row">
                        {% if obPL.isNotEmpty() %}
                            {% for in, obP in obPL %}
                                <div class="col-sm-4">
                                    <div class="shop-product featured">
                                        <a href="#"><img src="{{ obP.preview_image.path }}" class="img-responsive" alt=""></a>
                                        <a href="product/{{ obP.category.name }}/{{ obP.slug }}"><h6>{{ obP.name }}</h6></a>
                                        <p class="price">
                                            <span class="new">{{ obP.price }}</span>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            {% partial 'product/sidebar' %}
        </div>
    </div>
</div>