div#app {
    margin-top: 20px;
}

/* Carousel Styles */
.carousel-indicators.carousel-bawah {
    bottom: 50px;
}

.carousel-indicators > li {
    padding: 0;
    /*
    width: 15px;
    height: 15px;
    */
    border: 1px solid rgb(158, 158, 158);
    text-indent: 0;
    overflow: hidden;
    text-align: left;
    position: relative;
    letter-spacing: 1px;
    background: rgb(158, 158, 158);
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 50%;
    border-radius: 30px;
    margin-right: 5px;
    -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    z-index: 10;
    cursor:pointer;
}
.carousel-indicators .active {
    margin: 1px 5px 1px 1px;
    box-shadow: 0 0 0 2px #fff;
    background-color: transparent;
    position: relative;
    width: 7%;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.carousel-inner > .item > img {
    height: 53rem;
}

.carousel-inner.carousel-bawah {
    margin-bottom: 80px;
}

.carousel-inner img {
    width: 100%;
    /*max-height: 460px*/
}

img.img2 {
    max-height: 240px;
}

.content-kanan {
    height: 53rem;
}

.carousel-control {
    position: absolute;
    /*top: 25.5px;*/
    bottom: 0;
    /*left: 0;*/
    /*background: #000000;*/
    font-size: 5px;
    background: none;
    color: #fff;
    text-align: center;
}

.carousel-control i {
    font-size: 20px;
}

.carousel-control.left {
    left: 0;
}

.carousel-control.right {
    right: 0;

}

a.right.carousel-control, a.left.carousel-control {
    top: 85%;
    left: 80%;
}

a.kanan.carousel-control, a.kiri.carousel-control {
    top: 85%;
    left: 80%;
}

.left2 {
    left: 70%;
}

.right2 {
    right: 20%;
}

/*
a.left2.carousel-control, a.right2.carousel-control {
    color: #000;
}
*/

.carousel-control:hover,
.carousel-control:focus {
    color: #fff;
}

.left2 {
    float: left;
}

.right2 {
    float: right;
    position: absolute;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    z-index: 5;
    display: inline-block;
}

.carousel-control .glyphicon-chevron-left {
    left: 0;
}

.carousel-control .glyphicon-chevron-right {
    right: 0;
}

.atas {
    padding-bottom: 10px;
}

.grid > img{
    width: 50%;
    height: 100%;
}

.baris {
    display: flex;
}
/*
.kiri {
    padding-right: 10px;
}

.kanan {
    padding-left: 10px;
}
*/
.kanan, .kiri {
    bottom: 75%;
}
#kiri {
    padding-right: 10px;
}

#kanan {
    padding-left: 10px;
}

.bawah {
    padding-top: 10px;
}

div > .isi-kanan > img {
    width: 100%;
    height: 100%;
}

.isi-kanan {
    height: 50%;
}

.setengah {
    height: 50%;
}

.img-depan {
    width: 100%;
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
    opacity: 1;
    filter: alpha(opacity=100);
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none;
}

.carousel-control.left span {
    padding: 15px;
}

.carousel-control.right span {
    padding: 15px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    right: 0;
}

/*
.carousel-control.left span,
.carousel-control.right span {
    background-color: #000;
}
*/

.carousel-control.left span:hover,
.carousel-control.right span:hover {
    opacity: .7;
    filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: #2980b9;
    padding: 10px;
}

.header-text h3 span {
    /*background-color: #000; */
    padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.carousel .thumb-wrapper {
    text-align: center;
}


a.btn.bulat {
    border-radius: 50px;
    /*background-color: transparent;*/
}

a.btn.active.bulat {

}


/*
body {
    font-family: "Open Sans", sans-serif;
}
h2 {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 80px;
}
h2 b {
    color: #ffc000;
}
h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    bottom: -20px;
}
.carousel {
    margin: 50px auto;
    padding: 0 70px;
}
.carousel .item {
    min-height: 330px;
    text-align: center;
    overflow: hidden;
}
.carousel .item .img-box {
    height: 160px;
    width: 100%;
    position: relative;
}
.carousel .item img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.carousel .item h4 {
    font-size: 18px;
    margin: 10px 0;
}
.carousel .item .btn {
    color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel .item .btn:hover, .carousel .item .btn:focus {
    color: #fff;
    background: #000;
    border-color: #000;
    box-shadow: none;
}
.carousel .item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.carousel .thumb-content {
    padding: 15px;
}
.carousel .carousel-control {
    height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
    font-size: 13px;
    padding: 2px 0;
}
.carousel .item-price strike {
    color: #999;
    margin-right: 5px;
}
.carousel .item-price span {
    color: #86bd57;
    font-size: 110%;
}
.carousel .carousel-control.left i {
    margin-left: -3px;
}
.carousel .carousel-control.left i {
    margin-right: -3px;
}

.star-rating li {
    padding: 0;
}
.star-rating i {
    font-size: 14px;
    color: #ffc000;
}
*/